{% extends "baza.html" %}

{% block content %}
    <div class="produs-detaliu">
        {% for ceas in ceasuri %}
            {% if ceas.poza %}
                <img src="{{ ceas.poza.url }}" alt="{{ ceas.nume_model }}" style="width: 480px; height: 480px; object-fit: contain;">
            {% else %}
                <span>📂</span>
            {% endif %}
            <h1>{{ ceas.nume_model }}</h1>
            
            <h2>Detalii Produs</h2>
            {% if ceas.brand.imagine %}
                <img src="{{ ceas.brand.imagine.url }}" alt="{{ ceas.brand.nume_brand }}" style="width: 40px; height: 40px; object-fit: contain;">
            {% else %}
                <span>📂</span>
            {% endif %}
            <p><strong>Brand:</strong> {{ ceas.brand.nume_brand }}</p>
            <p><strong>Pret:</strong> {{ ceas.pret }} RON</p>
            <p><strong>Stoc:</strong> 
                {% if ceas.stoc > 0 %}
                    În stoc ({{ ceas.stoc }} buc.)
                {% else %}
                    Stoc epuizat
                {% endif %}
            </p>
            
            <h3>Specificatii Tehnice</h3>
            <ul>
                <li><strong>Mecanism:</strong> {{ ceas.mecanism.get_tip_mecanism_display }}</li>
                <li><strong>Geam:</strong> {{ ceas.tip_geam }}</li>
                <li><strong>Diametru carcasă:</strong> {{ ceas.diametru_carcasa }} mm</li>
                <li><strong>Curea:</strong> {{ ceas.curea.material_curea }} ({{ ceas.curea.culoare }})</li>
            </ul>
            
            <h3>Caracteristici Suplimentare</h3>
            {% if ceas.caracteristici.all %}
                <ul>
                    {% for caracteristica in ceas.caracteristici.all %}
                        <li>{{ caracteristica.nume }}: {{ caracteristica.descriere }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nicio caracteristica suplimentara.</p>
            {% endif %}
            
            {% if ceas.oferta %}
                <div style="background-color: #ffc; border: 1px solid #e6db55; padding: 10px;">
                    <strong>Oferta Speciala:</strong> {{ ceas.oferta.nume_oferta }}
                    (Valabila pana la: {{ ceas.oferta.data_sfarsit }})
                </div>
            {% endif %}
        {% empty %}
            <p>Nu exista produse de afisat.</p>
        {% endfor %}
        <br>
        {% if nevoie == 'c' %}
            <a href="{% url 'categorii' %}">Inapoi la lista de categorii</a>
        {% else %}
            <a href="{% url 'produse' %}"> Inapoi la lista de produse</a>
        {% endif %}
        
        
    </div>
{% endblock %}